<div class="pv5 ph3 bg-white">
  <div class="flex flex-wrap mw8 center tc tl-ns lh-copy">
    <div class="outline w-25-l w-50-ns w-100 pa3 pb5 pb3-l ">
      <div class="mb3 tc tl-ns">hebdeh</div>
      <h3 class="f5">dnej</h3>
      <div class="mb4 f6">
        Become a contributing member of the open source JavaScript community.
        Create public packages, publish updates, audit your dependencies, and
        more.
      </div>
      <a class="dib pa2 ph4 ba br-pill ttu no-underline tracked b npm-title"
        >aaa</a
      >
      <code>1</code>
    </div>
    <div class="outline w-25-l w-50-ns w-100 pa3 pb5 pb3-l ">
      <div class="mb3 tc tl-ns">hebdeh</div>
      <h3 class="f5">dnej</h3>
      <div class="mb4 f6">
        Become a contributing member of the open source JavaScript community.
        Create public packages, publish updates, audit your dependencies, and
        more.
      </div>
      <a class="dib pa2 ph4 ba br-pill ttu no-underline tracked b npm-title"
        >aaa</a
      >
      <code>1</code>
    </div>

    <div class="outline w-25-l w-50-ns w-100 pa3 pb5 pb3-l">
      <div class="mb3 tc tl-ns">hebdeh</div>
      <h3 class="f5">dnej</h3>
      <div class="mb4 f6">
        Become a contributing member of the open source JavaScript community.
        Create public packages, publish updates, audit your dependencies, and
        more.
      </div>
      <a class="dib pa2 ph4 ba br-pill ttu no-underline tracked b npm-title"
        >aaa</a
      >
      <code>1</code>
    </div>
    <div class="outline w-25-l w-50-ns w-100 pa3 pb5 pb3-l ">
      <div class="mb3 tc tl-ns">hebdeh</div>
      <h3 class="f5">dnej</h3>
      <div class="mb4 f6">
        Become a contributing member of the open source JavaScript community.
        Create public packages, publish updates, audit your dependencies, and
        more.
      </div>
      <a class="dib pa2 ph4 ba br-pill ttu no-underline tracked b npm-title"
        >aaa</a
      >
      <code>1</code>
    </div>
    <div class="outline w-25-l w-50-ns w-100 pa3 pb5 pb3-l ">
      <div class="mb3 tc tl-ns">hebdeh</div>
      <h3 class="f5">dnej</h3>
      <div class="mb4 f6">
        Become a contributing member of the open source JavaScript community.
        Create public packages, publish updates, audit your dependencies, and
        more.
      </div>
      <a class="dib pa2 ph4 ba br-pill ttu no-underline tracked b npm-title"
        >aaa</a
      >
      <code>1</code>
    </div>
  </div>
</div>
