{% if site.data.information %} {% assign info = site.data.information %}






<div class="main">




  <div class="contact center mw9 mt5-ns mt4 flex-ns flex-row-ns ph4-ns ph3">

    <div class="mb4">
    <ul style="padding-inline-start:0;">
      <li>
        <h1>CONTATO</h1>
      </li>
  

    <li><p class="support-sidebar-phone-number">
      <i class="fa fa-phone"></i><a href="#">{{ info.phone }}</a>
    </p></li>

    <li>

         <div class="mapouter">
          <div id="map-canvas" class="gmap_canvas ">
            <iframe
              width="100%"
              height="290"
              id="gmap_canvas"
              src="https://maps.google.com/maps?q=av.%20guilherme%20maxwell%2C%20bonsucesso&t=&z=17&ie=UTF8&iwloc=&output=embed"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
            ></iframe
            ><a href="https://www.enable-javascript.net/blog/divi-discount/"
              >tente divi</a
            >
          </div>
          <style>
            .mapouter {
              margin-bottom: 50px;
              position: relative;
              text-align: right;
              height: 290px;
              width: 290px;
            }
            .gmap_canvas {
              overflow: hidden;
              background: none !important;
              height: 290px;
              width: 100%;
            }
          </style>
        </div>
      </li>
    </ul>
 </div>




  </div>





<div class="contact center mw9 mt5-ns mt4 flex-ns flex-row-ns ph4-ns ph3">













<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">CONTATO</h4>

     <form 
        class="pure-form pure-form-stacked"
          style="margin-top:30px"
  action="https://formspree.io/xgenobpq"
  method="POST" name="contato" >
    <div class="flex-l mhn1-l">
      <!-- Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
          <label for="name">Name</label>
        </fieldset>
      </div>
      <!-- Email -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80" class="w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>
    <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>
</div>

{% endif %}
</div>