<div class="pv5 ph3 bg-white">
  <div class="flex flex-wrap mw8 center tc tl-ns lh-copy">
    {% if page.url == "/" %} {% for post in site.posts limit:12 %}
    <div class="outline w-25-l w-50-ns w-100 pa3 pb5 pb3-l ">
      <div class="mb3 tc tl-ns">
        <a href="{{ post.url }}">
          <img src="{{ post.post-images[0] }}" alt="" />
        </a>
      </div>
      <div class="f5">
        <span><a href="{{ post.url }}">{{ post.title }}</a></span>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
